include README.md
include LICENSE
include requirements.txt
include env.example
recursive-include examples *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .env
